body {
    background-color: green;
    padding-bottom: 120px;
}

.form-group {
    margin: 15px;
}

.checked {
    color: orange;
    text-align: center;
    margin: auto;
}

.outer_container {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 700px;
}

.outer_container #review_box {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.outer_container h3, h4, h5 {
    text-align: center;
}

#submit_review_container h5, h6 {
    text-align: center;

}

#already_submitted, #three_dots {
    color: white;
    text-align: center;
}

#three_dots {
    font-size: 10px;
}

.btn {
    background-color: green;
    border: green;
    color: white;
    margin: auto;
}

.btn:hover {
    background-color: black;
    color: white;
}

.center_box {
    border-radius: 15px;
    margin: auto;
    width: 65%;
}

.center_box .logo {
    width: 100%;
    margin: auto;
}

.star_container .fa-star {
    text-align: center;
}

#login_container {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

#book_logo_container {
    background-color: green;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#book_logo_container img {
    background-color: green;
    max-width: 200px;
}

#search_container {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

#results_container {
    padding-top: 40px;
    margin: auto;
    width: 450px;
    text-align: center;
}

#results_container .query_item {
    background-color: lightgreen;
}

#results_container .card {
    margin: 20px;
}

#book_outer_container {
    background-color: lightgreen;
}

#review_outer_container {
    width: 90%;
    margin: auto;
    background-color: white;
}

#book_container {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

#submit_review_container {
    background-color: white;
    text-align: center;
}

#Welcome {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#Welcome h3 {
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
