#Welcome {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#Welcome h3 {
    font-size: 40px;
    font-family: "Helvetica", serif;
    color: white;
    margin-bottom: 40px;
}

.query_item h4 {
    font-family: "Helvetica", serif;
    color: black;
    font-size: 20px;
}

.query_item h3 {
    font-family: "Helvetica", serif;
    color: black;
    font-size: 15px;
}

.btn {
    background-color: green;
    border: green;
    color: white;
}

.btn:hover {
    background-color: black;
    color: white;
}

.center_box {
    border-radius: 15px;
    margin: auto;
    width: 60%;
}

.center_box #logo {
    width: 100%;
    margin: auto;
}

#book_logo_container {
    background-color: green;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#book_logo_container img {
    background-color: green;
    max-width: 200px;
}

#login_container {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

#search_container {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;

}

#results_container {
    padding-top: 40px;
    margin: auto;
    width: 500px;
    text-align: center;
}

#results_container .query_item {
    background-color: lightgreen;
}

#results_container .card {
    margin: 20px;
}

.form-group {
    margin: 15px;
}

body {
    background-color: green;
    padding-bottom: 120px;
}
