{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block navbar %}
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">Hello, {{ user }}! </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"> Logout </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container outer_container" id="book_outer_container">
        <div class="container" id="book_container">
            <h3 class="book_title">
                <span class="fa fa-book"></span>
                {{ book.title }} ({{ book.year }})
            </h3>
            <hr>
            <h5> Author: {{ book.author }} </h5>
            <h5> ISBN: {{ book.isbn }} </h5>
            <h5 id="goodreads_review"> Goodreads Rating: {{goodreads_rating}} ({{ number_goodreads_reviews }} reviews) </h5>
        </div>
    </div>

    <div class="container outer_container"
        <p id="three_dots">
            <span class="fa fa-circle"></span>
            <span class="fa fa-circle"></span>
            <span class="fa fa-circle"></span>
        </p>
    </div>

    <div class="container outer_container" id="review_outer_container">
        <h4> Our Reviews
            <span class="fa fa-comment"></span>
        </h4>
        <hr>
        {% if book_reviews %}
            {% for review in book_reviews %}
                <div class="container" id="review_container">
                    <h6 id="book_name">{{ review.username }} submitted a review on {{ review.date_created }} </h6>
                    <p class="book_review">
                        {% for number in range(review.rating) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {{ review.review }}
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <div class="container" id="review_container">
                <h6 id="no_reviews"> No reviews yet </h6>
            </div>
        {% endif %}
    </div>

    {% if review_submitted %}
        <div class="container outer_container">
            <h6 id="already_submitted">
                <span class="fa fa-check"></span>
                You submitted a review for this book! Thank you.
            </h6>
        </div>
    {% else %}
        <div class="container outer_container" id="submit_review_container">
            <h5> Did you read this book? Submit your own review! </h5>
            <hr>
            <h6> How many stars would you give this book? </h6>
            <form action="{{ url_for('review_book') }}" method="post">
                <div class="form-group" id="star_rating">
                    <div>
                        <input type="radio" id="one_star" name="user_rating" value=1>
                        <label for="one_star">
                            <span class="fa fa-star checked"></span>
                            &emsp; &emsp; &emsp; &emsp;
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="two_star" name="user_rating" value=2>
                        <label for="two_star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                             &emsp; &emsp; &emsp;
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="three_star" name="user_rating" value=3>
                        <label for="three_star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                             &emsp; &emsp;
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="four_star" name="user_rating" value=4>
                        <label for="four_star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                             &emsp;
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="five_star" name="user_rating" value=5>
                        <label for="five_star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="hidden" value={{ book.isbn }} name="book_isbn">
                    </div>
                </div>
                <h6> How would you describe this book to a friend? </h6>
                <div class="form-group">
                    <div class="input-group">
                        <textarea class="form-control" id="review_box" name= "user_review" placeholder="Start Your Review"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Submit Review</button>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock %}
