{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block navbar %}
    <div class="navbar-nav" id="main_nav_bar">
        <a class="nav-item nav-link active" href="{{ url_for('login') }}">Welcome<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="{{ url_for('register') }}">Register</a>
    </div>
{% endblock %}

{% block body %}
    <div id="Welcome">
        <h3> Welcome to Reader's Forest! </h3>
    </div>
    <div class="center_box" id="login_container">
        <div class="center_box" id="logo_img">
            <img id="logo" src="/static/img/trees.png">
        </div>
        <h4 id="sign_in">{{ login_message }}</h4>
        <hr>
        <form action="{{ url_for('attempt_login') }}" method="post">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" placeholder="email or login" name="username">
                </div>
            </div> <!-- form-group// -->

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="******" type="password" name="password">
                </div>
            </div> <!-- form-group// -->

            <div class="form-group">
                <a href="{{ url_for('register') }}">I don't have a login yet</a>
            </div> <!-- form-group// -->

            <div class="form-group">
                <button class="btn btn-primary">Login</button>
            </div> <!-- form-group// -->

        </form>
    </div>
{% endblock %}
