{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block navbar %}
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="Welcome">
        <h3> Welcome to Reader's Forest! </h3>
    </div>
    <div class="center_box" id="login_container">
        <div class="center_box" id="logo_img">
            <img class="logo" src="/static/img/trees.png">
        </div>
        <h4 id="sign_in">{{ login_message }}</h4>
        <hr>
        <form action="{{ url_for('attempt_login') }}" method="post">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" placeholder="email or login" name="username">
                </div>
            </div> <!-- form-group// -->

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="******" type="password" name="password">
                </div>
            </div> <!-- form-group// -->

            <div class="form-group">
                <a href="{{ url_for('register') }}">I don't have a login yet</a>
            </div> <!-- form-group// -->

            <div class="form-group">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
