{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block navbar %}
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">Hello, {{ user }}! </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"> Logout </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="Welcome">
        <h3> Search for books here!</h3>
    </div>

    <div class="center_box" id="book_logo_container">
        <img src="/static/img/book_icon.png">
    </div>

    <div class="center_box" id="search_container">
        <h4> Enter a title, author, or ISBN number </h4>
        <hr>
        <form action="{{ url_for('search_db') }}" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="Enter Something Here" name="user_search">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Search!</button>
                </div> <!-- form-group// -->
            </div> <!-- form-group// -->
        </form>
    </div>

    <div class="container" id="results_container">
        {% for book in book_result %}
            <div class="card">
                <div class="card-body query_item">
                    <h4 class="book_title"> {{ book.title }} ({{ book.year }}) </h4>
                    <h3 class="book_author"> {{ book.author }} </h4>
                    <div class="container star_container">
                        {% for number in range(book.star_rating) %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                    </div>
                    <form action="{{ url_for('find_book') }}" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="hidden" value={{ book.isbn }} name="book_isbn">
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="See More" name="submit_button">
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
